body {
    background-color: #D5E1EF;
}
.attribution { 
    font-size: 15px; text-align: center; margin: 10px; 
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}
#head{
    width: 300px;
    height: 500px;
    background-color: white;
    box-shadow: 5px 5px 50px #979797;
    align-content: center;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    padding: 30px;
}
#head  img{
    width: 295px;
    height: 320px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 20px #979797;
    margin: 10px;
}
#head h2{
    font-family: "century gothic";
    font-size: "18px";
    font-weight: 400, 700;
    color: #1F314F;
    text-align: center;
    margin: 15px;
    padding: 1px;
}
#head p{
    color: #7D889E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin: 10px;
    padding: 1px;
    text-align: center;
}
#head:hover p {
    color: #c7d1e6;
}

#head:hover {
    background-color: black;
}

#head:hover h2 {
    color: #d2dbeb;
}
